h1{
    height:80px;
    font-size: 65px;
    text-align: center;
    color: #5A4938;
    background-color: #CBA077;
    margin-bottom: 0%;
    margin-top: 0%;
    font-family: Georgia;
    text-shadow: 1px 2px beige
  }
  
  hr{
      height: 5px;
      border: none;
      background-color: #5A4938;
      margin-bottom: 0px;
      margin-top: 0px; 
  }
  
  h2{
    font-size: 30px;
    
  }
  
  
  .title{
      color: #BB7B41;
      text-align: left;
      margin-bottom: 10px;
      font-family: Georgia;
      text-shadow: 1px 2px #5A4938
      
  }
  
  p{
    font-size: 18px;
    line-height: 23px;
    text-align: justify;
    color: #5A4938;
    font-family: Verdana;
  }
  
  .name{
    color: #BB7B41;
    text-align: center;
    margin-bottom: 10px;
    height:50px;
    font-size: 45px;
    font-family: Georgia;
    text-shadow: 1px 2px #5A4938
  }
  
  sup{
    font-weight: bold;
  }

  .h2_navbar{
    font-size: 20px;
    text-align: left;
    margin-left: -25px;
    margin-top: 1px;
    margin-right: 35%;

}

a {
  display: block;
  color: #BB7B41;
  text-shadow: 1px 1px #5A4938;
  text-align: right;
  padding-left: 20px;
  padding-right: 25px;
  text-decoration: none;
  margin-top: 15px;
  margin-bottom: 30px;
  margin-right: 25px;
  font-weight: bold;
  font-size: 28px;
  font-family: Verdana;
}
a:hover {
  color: black;
}

.childhood{
  width:fit-content;
  margin-left: 450px; 
  margin-top: 0px; 
  margin-bottom: -10px;
  font-size: 10px;
}

.teenage{
  width:fit-content;
  margin-left: 820px;
  margin-top: -65px; 
  margin-bottom: -10px;
  font-size: 10px;
  text-align: center;
}

.college{

  width:fit-content; 
  text-align: right; 
  margin-top: -65px; 
  margin-bottom: -10px;
  font-size: 10px;
  margin-left: 1100px; 
}
