
h1{
    height:20%;
    font-size: 55px;
    text-align: center;
    color: #5A4938;
    background-color: #CBA077;
    margin-bottom: 0%;
    margin-top: 0%;
    font-family: Georgia;
    text-shadow: 1px 2px beige
  }
  
  hr{
      height: 5px;
      border: none;
      background-color: #5A4938;
      margin-bottom: 0px;
      margin-top: -2px; 
  }
  
  h2{
    font-size: 30px;
    
  }
  
  
  .title{
      color: #BB7B41;
      text-align: left;
      margin-bottom: 10px;
      font-family: Georgia;
      text-shadow: 1px 1px #5A4938
      
  }
  
  p{
    font-size: 19px;
    line-height: 1;
    text-align: justify;
    color: #5A4938;
    font-family: Verdana;
  }
  
  .name{
    color: #BB7B41;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 15px;
    height:50px;
    font-size: 45px;
    font-family: Georgia;
    text-shadow: 1px 2px #5A4938
  }
  
  sup{
    font-weight: bold;
  }

  .buttons{
    font-size: 22px;
    font-family: Verdana;
    color: #BB7B41;
}